aliOrange = #ff7500
orangeHover = #ef740d
bgGray = #f5f5f5
borderGray = #e8e8e8
borderLightGray = rgba(0, 0, 0, .09)
borderOrange = #ffbb96

errRed = #f5222d
themeBlue = #1890ff
themeBoxShadow = rgba(255,117,0, 0.2)
themeBlack = rgba(0, 0, 0, 0.85)
themeDeepGray = rgba(0, 0, 0, 0.65)
themeGray = rgba(0, 0, 0, 0.45)
themeLightGray = rgba(0, 0, 0, 0.25)
border = #e8e8e8
themeGreen = #79E37B
toastBlue = #E9F7FE

// calendar
cardBg = rgb(255, 246, 238)
openTagBg = #fff2e8
openColor = #fa541c
openBorder = #ffbb96

applyingTagBg = #e6f7ff
applyingColor = #1890ff
applyingBorder = #91d5ff

reviewingTagBg = #f9f0ff
reviewingColor = #722ed1
reviewingBorder = #d3adf7

approvedTagBg = #f6ffed
approvedColor = #52c41a
approvedBorder = #b7eb8f

rejectedTagBg = #fff1f0
rejectedColor = #f5222d
rejectedBorder = #ffa39e

// meeting
hoverBg = rgba(255, 117, 0, 0.06)

// approved
pendingColor = #1890ff

// mobile
mobileBg = #001529
brownGrey = #a6a6a6
lightWhite = rgba(255, 255, 255, .85)

// calendar admin
iconColor = #262626
dotBorderColor = #d9d9d9
disabledOrgBg = rgba(255, 117, 0, 0.25)
iconBg = #bfbfbf
tableHeaderBg = #fafafa
lineBg = #e4e4e4

// faq admin
showdowBlack = rgba(0, 0, 0, 0.12)

// meeting admin
inputBorderColor = rgba(0, 0, 0, 0.15)

// table
tableHeaderColor = #8c8c8c
tableRowColor = #262626
tableBodyBgColor = #f7f7f7

