@require '~tb-icons/lib/styles/tb-icons.css';
@import '~@teambition/clarity-design/lib/style/color.styl';
@require '~@teambition/clarity-design/lib/style/variables.styl';
@require '~@teambition/clarity-design/lib/style/motion/index.styl';
@import '_reset.styl';
@import './_color.styl'
@import './_function.styl'
@import './_plugin.styl'
