
.todoList
    font-size 20px
    display flex
    flex-direction column
    justify-content center
    margin 0 auto
    align-items center
    margin-top 100px
    p,form,small
        margin 20px
        font-size 20px
    ul li
        font-size 20px
        input
            margin 0px 10px
